body {
  background: #E60DE4;
  color: #eee;
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 0;
}

header, footer {
  padding: 15px;
  background: #222;
  text-align: center;
}

.grid {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card {
  background: #550020;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.btn {
  margin-top: 10px;
  padding: 8px 12px;
  background: #444;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}

.hidden {
  display: none;
}

.item {
  background: #222;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.navbar {
    background-color: #22262b;
    padding: 12px 40px;
    display: flex;
    align-items: center;      
    justify-content: space-between;
    border-bottom: 3px solid #0CFAFA;
}

.brand-container {
    display: flex;
    align-items: center;     
    gap: 16px;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;       
}

.brand-title {
    font-size: 28px;
    font-weight: 700;
    color: white;
    white-space: nowrap;      
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
}


.nav-links a {
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.2s;
}

.nav-links a:hover {
     color: #E60DE4;
    border-bottom: 2px solid #E60DE4;
}